
@{
    ViewBag.Title = "History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>User History Data</h2>
<table>
    <thead>
        <tr>
            <th width="50" class="text-center">Sr. No</th>
            <th width="50" class="text-center">Id</th>
            <th width="300" class="text-center">Title</th>
            <th width="100" class="text-center">Status</th>
            <th width="100" class="text-center">Action</th>
        </tr>
    </thead>
    <tbody class="tbody">
        <tr>
            <td colspan="4">Loading data...</td>
        </tr>
    </tbody>
</table>

@section scripts
{
    <script src="~/Content/history.js"></script>
}